<app-navbar></app-navbar>
<div class="container" style="margin-top: 30px;">
  <div class="row" style="display: flex; flex-direction: row">
    <div
      class="col-4"
      style="
        border-style: solid;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-left: -30px;
      "
    >
      <app-pie-chart />

    </div>
    <div
      class="col-8"
      style="
        border-style: solid;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-left: 22px;
      "
    >
      <app-bar-chart />
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="
    border-style: solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
  ">
      <app-table-chart />
    </div>
  </div>

</div>
